* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid greenyellow; */
}

:root {
  /* Colors */
  --light-color: #dce1ef;
  --dark-color: #171616;
  --dark-accent: #0F4C5C;
  --main-accent: #E36414;
  --main-color: #FB8B24;
  --secondary-color: #9A031E;
  --secondary-accent: #5F0F40;

  /* Fonts */
  --main-font: 'Tomorrow', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--main-font);
}

/* Header Styles */
header {
  background-color: var(--dark-color);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
}

header li {
  display: inline;
}

header a {
  text-decoration: none;
  color: var(--light-color);
  padding: 0 10px;
}

header a:hover {
  color: var(--main-color);
}

#time-and-day {
  margin-left: auto;
  color: var(--light-color);
  font-size: 1.5rem;
}

/* Main Styles */
#landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: start;
  padding: 0 88px;
}

#landing-text {
  max-width: 50%;
  margin-right: 20px;
}

#landing-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--main-color);
}

#landing-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--light-color);
}

#landing-text button {
  background-color: var(--main-color);
  color: var(--dark-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--main-font);
}

#landing-text button:hover {
  background-color: var(--secondary-accent);
  color: var(--main-color);
}

#landing-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-img img {
  max-width: 50%;
}

/* About Me Styles */
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60vh;
  text-align: start;
  padding: 0 88px;
}

#about-me h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--main-color);
  align-self: flex-start;
}

#about-me p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--light-color);
  align-self: flex-start;
}